#header {
    color: #4D5E6E;
}

#body {
    width: 600px;
    height: 450px;
    margin: auto;
}

#body .bg {
    position: absolute;
}

.cinfo {
    font-size: 16px;
    font-weight: bolder;
    font-family: "Adobe Heiti Std";
    display: block;
    width: 230px;
    color: rgb(77, 94, 110);
    text-align: center;
}

.sjh {
    position: relative;
    top: 55px;
    left: -50px;
    -ms-transform:rotate(-45deg); /* IE 9 */
    -moz-transform:rotate(-45deg); /* Firefox */
    -webkit-transform:rotate(-45deg); /* Safari and Chrome */
    -o-transform:rotate(-45deg); /* Opera */
    transform:rotate(-45deg);

}

.yx {
    position: relative;
    top: 235px;
    left: -45px;
    -ms-transform:rotate(45deg); /* IE 9 */
    -moz-transform:rotate(45deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
    -o-transform:rotate(45deg); /* Opera */
    transform:rotate(45deg);
}

.qq {
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
    -ms-transform:rotate(45deg); /* IE 9 */
    -moz-transform:rotate(45deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
    -o-transform:rotate(45deg); /* Opera */
    transform:rotate(45deg);
}

.dz {
    float: right;
    position: relative;
    top: 200px;
    right: -230px;
    -ms-transform:rotate(-45deg); /* IE 9 */
    -moz-transform:rotate(-45deg); /* Firefox */
    -webkit-transform:rotate(-45deg); /* Safari and Chrome */
    -o-transform:rotate(-45deg); /* Opera */
    transform:rotate(-45deg);
}

