#header {
    color: #4D5E6E;
}

#body {
    width: 600px;
    height: 450px;
    margin: auto;
}

#body .bg {
    position: absolute;
}

.cinfo {
    font-size: 18px;
    font-weight: bolder;
    font-family: "Adobe Heiti Std";
    display: block;
    width: 200px;
    color: rgb(77, 94, 110);
    text-align: center;
}

.sjh {
    position: relative;
    top: 70px;
    left: -20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.yx {
    position: relative;
    top: 240px;
    left: -20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.qq {
    float: right;
    position: relative;
    top: 30px;
    right: 33px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.dz {
    float: right;
    position: relative;
    top: 210px;
    right: -180px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

