

#body {
    margin: auto;
    width: 800px;
    margin-top: -220px;
    margin-left: 70px;
}

.left_navigation {
    float: left;
    margin-top: -300px;
}

.left_navigation ul {
    margin-left: -35px;
    list-style: none;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    z-index: 999;
}

.left_navigation a {
    color: #828387;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #828387;
    display: inline-block;
}

.left_navigation a:hover {
    color: chocolate;
}