<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安徽众媒数据科技有限公司</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='agency.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>
<body>
<div id="container">
    <div id="header">
        <div class="title">
            <p class="title_1">
                <span class="s">-</span>
                <span class="s1">Cooperation Agency</span><br>
                <span class="s2">tailor the most suitable product for you</span>
            </p>

            <p class="title_2">
                <span class="s">-</span>
                <span class="s3">合作机构</span><br>
                <span class="s4">为您量身打造最适合您的产品</span></p>
        </div>
    </div>
    <div id="body">

    </div>
    <div class="foot_guide">
        <div class="foot_img01"><img src="{{ url_for('static', filename='foot_title.png') }}"></div>
        <div class="foot_content">安徽众媒数据科技有限公司<br/>Anhui Public Media Data Technology Co.Ltd.</div>
        <div class="foot_img02">
            <img src="{{ url_for('static', filename='foot_agency.png') }}">

            <div class="txt">
                <span><a href="#">公司简介</a></span>
                <span class="t"><a href="#">产品服务</a></span>
                <span class="t"><a href="#">人才团队</a></span>
                <span class="t"><a href="#">项目案例</a></span>
                <span class="t"><a href="#">合作机构</a></span>
                <span class="t"><a href="#">联系我们</a></span>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>
</body>
</html>