<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安徽众媒数据科技有限公司</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>
<body>
<div id="container">
    <div class="main">
        <div class="left">
            <div class="title">
                <p class="title_1">
                    <span class="s">-</span>
                    <span class="s1">ComPany Profile</span><br>
                    <span class="s2">tailor the most suitable product for you</span>
                </p>

                <p class="title_2">
                    <span class="s">-</span>
                    <span class="s3">公司简介</span><br>
                    <span class="s4">为您量身打造最适合您的产品</span></p>
            </div>
            <div class="circle_block">
                <div class="circle"><span>成立<br>时间</span></div>
                <div class="circle"><span>注册<br>资金</span></div>
                <div class="circle"><span>运作<br>机构</span></div>
                <div class="circle"><span>人才<br>团队</span></div>
                <div class="circle"><span>服务<br>范畴</span></div>
                <div class="circle"><span>工作<br>目标</span></div>
            </div>
            <div class="content">
                <div class="content_text">
                    <p>
                        安徽众媒数据科技有限公司成立于2015年5月25日，注册资金500万元，是合肥工业大学市场调查研究中心的市场化运作。公司依托合肥工业大学市场调查研究中心强大的师资力量和学生团队，以合肥工业大学经济学院应用紧急模拟实验室现金的计算机网络和数据库软件系统为基础，致力于成为一家利用现代市场调研技术、信息处理技术、网络数据挖掘等技术，进行大数据采集与分析、网络舆情分析，市场研究、竞争性情报服务，数据库产品研究开发，智库服务、互联网+转型服务，计算机软硬件开发与销售，企业咨询、创业孵化与培训、天使投资的，为社会提供一流商业和社会咨询服务的社会化企业。</p>

                    <p>公司竭诚为顾客提供市场信息采集咨询服务、舆情分析监控服务、专业第三方服务、创业培训与天使投资咨询管理服务、营销推广咨询服务、门户平台开发设计服务等专业服务。</p>
                </div>
            </div>

        </div>
        <div class="right">
            <div class="right_circle">
                <div class="r_circle"></div>
                <div class="right_content">
                    <p class="p1">HELLO</p>

                    <p class="p2">I'm Anhui Public</p>

                    <p class="p2">Media Data</p>

                    <p class="p2">Technology Co.Ltd.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="foot_guide">
        <div class="foot_img01"><img src="{{ url_for('static', filename='foot_title.png') }}"></div>
        <div class="foot_content">安徽众媒数据科技有限公司<br/>Anhui Public Media Data Technology Co.Ltd.</div>
        <div class="foot_img02">
            <img src="{{ url_for('static', filename='foot_profile.png') }}">
            <div class="txt">
                <span><a href="">公司简介</a></span>
                <span class="t"><a href="{{ url_for('product') }}">产品服务</a></span>
                <span class="t"><a href="{{ url_for('talent') }}">人才团队</a></span>
                <span class="t"><a href="{{ url_for('projects') }}">项目案例</a></span>
                <span class="t"><a href="{{ url_for('agency') }}">合作机构</a></span>
                <span class="t"><a href="{{ url_for('contact') }}">联系我们</a></span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>