<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安徽众媒数据科技有限公司</title>
    <link type="text/css" rel="stylesheet" href="css/talent.css">
    <link type="text/css" rel="stylesheet" href="css/common.css">

</head>
<body>
<div id="container">
    <div id="header">
        <div class="title">
            <p class="title_1">
                <span class="s">-</span>
                <span class="s1">Talent Team</span><br>
                <span class="s2">tailor the most suitable product for you</span>
            </p>

            <p class="title_2">
                <span class="s">-</span>
                <span class="s3">人才团队</span><br>
                <span class="s4">为您量身打造最适合您的产品</span></p>
        </div>
    </div>
    <div class="clear"></div>
    <div id="body"></div>
    <div id="footer"></div>
</div>
</body>
</html>